# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: wordsmith-ingress-canary
#   namespace: '{{ .Values.namespace | default "wordsmith-app" }}'
#   annotations:
#     kubernetes.io/ingress.class: "nginx"
#     nginx.ingress.kubernetes.io/canary: '{{ .Values.ingress.canary.canary }}'
#     nginx.ingress.kubernetes.io/canary-weight: '{{ .Values.ingress.canary.canary_weight }}'
# spec:
#   rules:
#   - host: {{ .Values.ingress.canary.host }}
#     http:
#       paths:
#       - path: {{ .Values.ingress.canary.path }}
#         pathType: Prefix
#         backend:
#           service:
#             name: wordsmith-prod-app-web
#             port:
#               number: 80
#
# ---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: wordsmith-ingress-stable
#   namespace: '{{ .Values.namespace | default "wordsmith-app" }}'
#   annotations:
#     kubernetes.io/ingress.class: "nginx"
# spec:
#   rules:
#   - host: {{ .Values.ingress.stable.host }}
#     http:
#       paths:
#       - path: {{ .Values.ingress.stable.path }}
#         pathType: Prefix
#         backend:
#           service:
#             name: wordsmith-prod-app-web
#             port:
#               number: 80